@page
@using Helium.Pages.Projects.Shared
@model GeigerCounterModel
@{
    ViewData["Title"] = @Model.Card.Title;
}


<div class="container-fluid">
    <partial name="../Shared/CardHeader.cshtml" for="@Model" />
    <div class="card-body">
        <h3 class="text-muted">About</h3>
        <div class="row">
            <div class="col-auto">
                How to make your own Geiger Counter:
                <ul>
                    <li>Purchase a kit from <a href="https://sites.google.com/site/diygeigercounter/home">DIYGeigerCounter</a></li>
                    <li>Purchase a geiger counter tube from <a href="http://www.goldmine-elec-products.com/">Electronic Goldmine</a></li>
                    <li>Assemble the electronics</li>
                    <li>Put it in a case, such as mine on <a href="https://www.thingiverse.com/thing:191113">Thingiverse</a> or your own</li>
                    <li>Test it with a uranium-glazed pottery piece from <a href="https://www.ebay.com/">Ebay</a></li>
                </ul>

                <partial name="../Shared/ImageCard.cshtml" ,
                         model='@new Image("/img/hardware-projects/geiger-counter/geiger_side.jpg", "Side view of the geiger-counter, without the lid on.")' />
            </div>
            <div class="col-auto">
                <partial name="../Shared/ImageCard.cshtml" ,
                         model='@new Image("/img/hardware-projects/geiger-counter/geiger_top.jpg", "The Geiger counter, in operation.")' />
            </div>

        </div>
        <div class="row justify-content-center">
            <div class="col-auto">
                This case stores 6-AA's, the main electronics, the geiger-counter tube (as a snap-on component),
                and various interactive components, such as the power switch (left side) and brightness control (right side).
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-7">
                <partial name="../Shared/ImageCard.cshtml" ,
                         model='@new Image("/img/hardware-projects/geiger-counter/electronics.jpg", "Geiger counter electronics, without the case.")' />
            </div>
        </div>

        <h3 class="text-muted">Case Design</h3>
        <div class="row justify-content-center">
            <div class="col">
                This was one of the first useful projects I designed and printed with my 3D printer.
                The design was partly restricted, because I had to fit the entire case design within the build plate of the 3D printer I had then.
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-auto px-1 py-1">
                <partial name="../Shared/ImageCard.cshtml" ,
                         model='@new Image("/img/hardware-projects/geiger-counter/wire_base.png", "Geiger Counter base (wireframe)")' />

            </div>
            <div class="col-auto px-1 py-1">
                <partial name="../Shared/ImageCard.cshtml" ,
                         model='@new Image("/img/hardware-projects/geiger-counter/render_base.png", "Geiger Counter base (render)")' />
            </div><div class="col-auto px-1 py-1">

                <partial name="../Shared/ImageCard.cshtml" ,
                         model='@new Image("/img/hardware-projects/geiger-counter/wire_lid.png", "Geiger Counter lid (wireframe)")' />
            </div><div class="col-auto px-1 py-1">

                <partial name="../Shared/ImageCard.cshtml" ,
                         model='@new Image("/img/hardware-projects/geiger-counter/render_lid.png", "Geiger Counter lid (render)")' />
            </div> <div class="col-auto px-1 py-1">

                <partial name="../Shared/ImageCard.cshtml" ,
                         model='@new Image("/img/hardware-projects/geiger-counter/wire_tube.png", "Geiger Counter tube holder (wireframe)")' />
            </div>
            <div class="col-auto px-1 py-1">

                <partial name="../Shared/ImageCard.cshtml" ,
                         model='@new Image("/img/hardware-projects/geiger-counter/render_tube.png", "Geiger Counter tube holder (render)")' />
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
            These models were designed using <a href="http://brlcad.org/">BRL-CAD</a>, which gave me a scripting
            interface to create the models along with a graphical output view. With this design:
            <ul>
                <li>The geiger counter base separates the battery storage from the electronics compartment</li>
                <li>The geiger counter lid u-pipe holds the geiger counter tube as a snap-in item</li>
                <li>The geiger counter tube holder has several holes, permitting charged particles to pass through</li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
            There's certainly several enhancements I'd make if I were recreating this design
            or printing this design in bulk, but overall the entire design worked as expected.
        </div>
    </div>
</div>