@page
@using Helium.Pages.Projects.Shared
@model CourseDegreeTrackerModel

@{
    ViewData["Title"] = @Model.Card.Title;
}

<div class="container-fluid">
    <partial name="../Shared/CardHeader.cshtml" for="@Model" />
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-md-6">
                I wrote <b>@Model.Card.Title</b> to properly track all the courses I needed to take in college with
                the dependencies each course required. With this program, I was able to saturate my course load and finish college efficiently.
            </div>
            <div class="col-auto">
                <partial name="../Shared/ImageCard.cshtml" ,
                         model='@new Image("/img/software-projects/course-degree-tracker/CourseDegreeTracker1.png", "The course graph generated (with manual layout) from CourseDegreeTracker.")' />
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <partial name="../Shared/ImageCard.cshtml" ,
                         model='@new Image("/img/software-projects/course-degree-tracker/CourseDegreeTracker2.png", "A 3D view of the course load. This was implemented to better sort dependencies, but was not effective")' />
            </div>
            <div class="col-md-6">
                <partial name="../Shared/ImageCard.cshtml" ,
                         model='@new Image("/img/software-projects/course-degree-tracker/CourseDegreeTracker3.png", "A list view of all courses, completed and non-completed.")' />
            </div>
        </div>
    </div>
</div>