@page
@using System.Collections.Generic;
@model SciFiBooks
@{
    ViewData["Title"] = "Science Fiction Book List";

    var AllTimeFavorite = 5;
    var Enjoyable = 4;
    var GoodButNotGreat = 3;

    var InterGalactic = 5;
    var Galactic = 4;
    var SolarSystem = 3;

    var books = new List<Book>()
    {
        new Book("Light Chaser", "Peter F. Hamilton/Gareth L. Powell", DateTime.Parse("2021-01-01"), "Pilot",
            "Love story that's also galactic science fiction. Somewhat short.",
            tone: 4, subjectMatter: 2, scope: Galactic, rating: Enjoyable),
        new Book("The Last Watch (Divide Series)", "J. S. Dewes", DateTime.Parse("2021-01-01"), "Military Officer/Scientist",
            "Light military Sci-Fi with a broad scope and humerous moments. The third book isn't out yet though.",
            tone: 5, subjectMatter: 4, scope: InterGalactic, rating: Enjoyable),
        new Book("Shild's Ladder", "Greg Egan", DateTime.Parse("2002-01-01"), "Scientist",
            "Far-future tech with a universe-ending scale.",
            tone: 3, subjectMatter: 3, scope: InterGalactic, rating: GoodButNotGreat),
        new Book("Metaplanetary", "Tony Daniel", DateTime.Parse("2009-01-01"), "Various",
            "Development of war in the local solar system.",
            tone: 4, subjectMatter: 5, scope: SolarSystem, rating: GoodButNotGreat),
    };
}

<partial name="ReferenceHeader.cshtml"/>


<h1>Science Fiction Book List</h1>
<div class="container-fluid d-flex flex-wrap">
    @foreach (Book book in books)
    {
        <div class="card d-inline-block" style="display: inline-block">
            <div class="card-header justify-content-center">
                <b>@book.Title</b>
            </div>
            <div class="card-body">
                <ul>
                </ul>
            </div>
        </div>
    }
</div>