@page
@using H24.Models;
@model H24.Pages.Pcb.MillBoardElectronicsModel

@{
    ViewData["Title"] = @Model.Title;
}

<div class="card">
    <partial name="../Common/CardHeader.cshtml" for="@Model" />
    <div class="card-body">
        <h4>Conceptual Design</h4>
        <partial name="../Common/ParagraphStart.cshtml" />
        This project was initially to create a low-cost, custom electronics board capable of driving six stepper motors.
        Because my mill design was unusual in requiring six stepper motors, currently-available boards such as the <a href="https://ultimachine.com/ramps">RAMPS board</a>
        and <a href="http://reprap.org/wiki/Comparison_of_Electronics">other electronics</a> were not be capable of driving my mill.
        <partial name="../Common/ParagraphEnd.cshtml" />
        <br />
        <partial name="../Common/ParagraphStart.cshtml" />
        To construct the electronics board, I prototyped a PCB with <a href="http://kicad-pcb.org/">KiCad</a> and send the design out for
        manufacturing to <a href="https://oshpark.com/">OSH Park</a>. Because OSH Park charges for the amount of surface area used, I attempted to collapse
        a 12-pin keypad, a 128x64 LCD display, six stepper motor drives and an <a href="http://www.atmel.com/devices/ATMEGA328P.aspx">ATmega328P-PU microcontroller</a> all on the single board.
        To support all of these devices, I also used a few <a href="http://www.nxp.com/documents/data_sheet/74HC_HCT595.pdf">serial-to-parallel</a> chips to increase the total number of I/O pins available.
        <partial name="../Common/ParagraphEnd.cshtml" />
        <partial name="../Common/ParagraphStart.cshtml" />
        <b>Pins required:</b>
        <ul>
            <li>Six <a href="https://www.pololu.com/product/1182">stepper motor drivers</a>: 1 (reset) + 6*2 (direction + step) = 13 (output)</li>
            <li>Drill Bit PWM: 1 (speed selection) = 1 (output)</li>
            <li>Drill Bit PWM speed indicator: 1 (actual drill bit speed) =  1 (input)</li>
            <li>12-button keypad: 1 (current button press value) =  1 (analog input)</li>
            <li>General-purpose potentiometer: 1 (current dial value) =  1 (analog input)</li>
            <li>Computer input line: 1 (data input) = 1 (input)</li>
            <li>128x64 display: 8 (data lines) + 2 (chip selection) + 3 (reset / clock / command (or) data) = 13 (output) </li>
            <li>Status LEDs: 2</li>
            <li><b>Total:</b> 33</li>
        </ul>
        <partial name="../Common/ParagraphEnd.cshtml" />
        <partial name="../Common/ParagraphStart.cshtml" />
        Finally, to complete the design I ensured that:
        <ul>
            <li>Each stepper motor driver has two headers -- one to swap out the motor, the other to swap out the driver. </li>
            <li>Each stepper motor driver has it's own transient protection capacitor on the 12 V line.</li>
            <li>The ATmega has additional passive components to reduce the noise on the analog reference 5 V line.</li>
            <li>The keypad uses a resistor network to uniquely idenfity each key (which creates a short on two of its pins), to significantly reduce the pin count to 1.</li>
        </ul>
        <partial name="../Common/ParagraphEnd.cshtml" />
        <partial name="../Common/ImageCard.cshtml" ,
                 model='@new Image("/Blobs/Projects/Pcb/MillBoardElectronics/Schematicv3.png", "The final KiCad schematic, after adding in all the design elements I desired in this board.")' />
        <br />
        <h4>PCB Design</h4>
        <partial name="../Common/ImageCard.cshtml" ,
            model='@new Image("/Blobs/Projects/Pcb/MillBoardElectronics/BoardV1.png", "<b>Version 1:</b> Functionally correct, but not space efficient.<br /> Used for KiCad experimentation only.")' />
        <br />
        <partial name="../Common/ImageCard.cshtml" ,
                 model='@new Image("/Blobs/Projects/Pcb/MillBoardElectronics/BoardV2.png", "<b>Version 2:</b> More space efficent, but with room for improvement.<br /> This layout also puts the keypad and display at unusual right angles to each other.")' />
        <br />
        <partial name="../Common/ImageCard.cshtml" ,
                 model='@new Image("/Blobs/Projects/Pcb/MillBoardElectronics/BoardV3NoGround.png", "<b>Version 3:</b> Very efficient, but still messy (lots of long traces, several vias, etc).<br /> By using smaller traces, I was able to route wires through the space between pins.")' />
        <br />
        <partial name="../Common/ImageCard.cshtml" ,
            model='@new Image("/Blobs/Projects/Pcb/MillBoardElectronics/FinalBoard.png", "<b>Version 4:</b> The final result.<br /> I added a ground pane and selected this design for shipping. This only cost $50 for three of these 2-layer ENIG boards.")' />
        <br />
        <h4>Final Results</h4>
        <partial name="../Common/ParagraphStart.cshtml" />
        After about a month of lead time, I received the order I had submitted.
        <partial name="../Common/ParagraphEnd.cshtml" />
        <partial name="../Common/ImageCard.cshtml" ,
            model='@new Image("/Blobs/Projects/Pcb/MillBoardElectronics/BoardFront.jpg", "The front of the manufactured prototype PCB.")' />
        <br />
        <partial name="../Common/ImageCard.cshtml" ,
            model='@new Image("/Blobs/Projects/Pcb/MillBoardElectronics/BoardRear.jpg", "The rear of the manufactured prototype PCB.")' />
        <br />
        <h4>Testing</h4>
        <partial name="../Common/ParagraphStart.cshtml" />
        I went through two main phases testing these boards -- mechanical and electrical -- to verify the results.
        <partial name="../Common/ParagraphEnd.cshtml" />
        <br />
        <h5>Mechanical Design Errors</h5>
        <partial name="../Common/ParagraphStart.cshtml" />
        <ul>
            <li><b>Major:</b> The stepper-motor sockets were all 1-pin spaced too far apart (oops). Pins fit when bent.</li>
            <li><i>Minor:</i> The capacitor pads were too small, so all the capacitors were placed sideways.</li>
            <li><i>Minor:</i> The LCD covers the backlight pads -- which was OK, because I wasn't planning on using the backlight.</li>
            <li><i>Minor:</i> I used the wrong sized-pads for the keypad, so it only accepts smaller pin sizes -- such as the pin sizes the keypad has.</li>
        </ul>
        <partial name="../Common/ParagraphEnd.cshtml" />
        <h5>Electrical Design Errors</h5>
        <partial name="../Common/ParagraphStart.cshtml" />
        None found so far!
        <partial name="../Common/ParagraphEnd.cshtml" />
        <br />
        <partial name="../Common/ImageCard.cshtml" ,
            model='@new Image("/Blobs/Projects/Pcb/MillBoardElectronics/FinalBoardInPlace.jpg", "The prototype PCB board in my electrical testing rig.")' />
    </div>
</div>