@using Helium24.Models

@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Project>
@model Helium24.Models.Project

<div class="card-header">
    <div class="row justify-content-between">
        <div class="col-auto align-self-center">
            @Model.Title
        </div>
        <div class="col-auto">
            <div class="row">
                @Html.Partial("/Projects/Common/Base/TagButtons.cshtml", Model.Tags)
                <div class="col-auto align-self-center">
                    <span class="text-muted">@Html.Partial("/Projects/Common/Base/FormattedDate.cshtml", Model.Date)</span>
                </div>
            </div>
        </div>
    </div>
</div>