@page
@using Helium.Pages.HardwareProjects.Common
@model ChessBoardModel
@{
    ViewData["Title"] = @Model.Card.Title;
}


<div class="container-fluid">
    <partial name="Common/CardHeader.cshtml" for="@Model" />
    <div class="card-body">
        <h3 class="text-muted">About</h3>
        <div class="row justify-content-center">
            <div class="col-auto">
                With access to either an
                <a href="https://www.epiloglaser.com/products/legend-laser-series.htm">Epilog Helix</a>
                or a
                <a href="http://www.ulsinc.com/products/">Universal</a>
                laser, you can make your own chess board.
            </div>
            <div class="col-auto">
                <partial name="Common/ImageCard.cshtml" ,
                         model='@new Image("/img/hardware-projects/chess-board/board.jpg", "Laser-engraved chess board with marbled squares.")' />
            </div>
        </div>
        <br />
        <div class="row justify-content-center">
            <div class="col-md-6">
                This chess board was created within 10 minutes using
                <a href="http://en.wikipedia.org/wiki/Microsoft_Visio">Visio</a>,
                and engraved in 30 minutes on the Universal laser.
                <br /><br/>
                Normally the translucent (engraved) squares would be completely opaque,
                but by using a reduced engraving power I instead engraved marbled squares.
                <br /><br/>
                With 3"-scale chess pieces from the
                <a href="http://www.unclesgames.com/">local game store</a>,
                the chess set was made complete.
            </div>
            <div class="col-md-6">
                <partial name="Common/ImageCard.cshtml" ,
            model='@new Image("/img/hardware-projects/chess-board/boardWithPieces.jpg", "Laser-engraved chess board with pieces")' />
            </div>
        </div>
    </div>
</div>