@using System;
@using Helium24.Models;
@using System.Collections.Generic;

@{
    Layout = "Layouts/RootLayout.cshtml";
    string pageName = "Apps";
}

@section Title {@pageName}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-auto">
            <h3>Apps</h3>
        </div>
    </div>
</div>