@using System;
@using Helium24.Models;
@using System.Collections.Generic;

@{
    Layout = "Layouts/RootLayout.cshtml";
    string pageName = "Attributions";

    List<Attribution> attributions = new List<Attribution>()
    {
        new Attribution("Ace", "1.2.9", "https://ace.c9.io/", "In-browser text editor"),
        new Attribution("Axios", "0.17.0", "https://github.com/axios/axios", "Javascript REST API library"),
        new Attribution("Bootstrap", "4.0.0", "https://getbootstrap.com/", "HTML frontend toolkit"),
        new Attribution("Chartist", "0.11.0", "https://gionkunz.github.io/chartist-js/", "Javascript charting library"),
        new Attribution("Chartist-Plugin-AxisTitle", "0.0.4", "https://github.com/alexstanbury/chartist-plugin-axistitle", "Chartist plugin for axis titles"),
        new Attribution("ES6-Promise", "4.2.0", "https://github.com/stefanpenner/es6-promise", "Polyfill for ES6 promites"),
        new Attribution("JQuery (Slim)", "3.0.0", "http://jquery.com/", "Javascript DOM and event library"),
        new Attribution("Katex", "0.9.0", "https://khan.github.io/KaTeX/", "Javascript math typesetting"),
        new Attribution("Microsoft.AspNet.Razor", "3.2.3", "https://www.nuget.org/packages/Microsoft.AspNet.Razor/3.2.3", "Support for ASP.NET web pages with Razor syntax"),
        new Attribution("Nancy", "1.4.3", "https://www.nuget.org/packages/Nancy/1.4.3", "Web framework for the .NET platform"),
        new Attribution("Owin", "1.0.0", "http://owin.org/", "Web interface binding to decouble the server and applications"),
        new Attribution("Newtonsoft.Json", "9.0.1", "https://www.newtonsoft.com/json", "C# JSON serialization / deserialization"),
        new Attribution("Npgsql", "3.2.1", "http://www.npgsql.org/", "ADO.NET data provider for PostgreSQL"),
        new Attribution("Popper", "1.12.0", "https://popper.js.org/", "Javascript tooltip and popup library"),
        new Attribution("SHA256", "1.0", "http://www.movable-type.co.uk/scripts/sha256.html", "SHA256 Javascript implementation")
    };
}

@section Title {@pageName}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-auto">
            <h3>Attributions</h3>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-auto">
            As with any large software project, several existing components were used to build this website:
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-auto py-2">
            <ul>
                @foreach (Attribution attrib in attributions)
                {
                    <li><a href="@attrib.Uri">@attrib.Name @attrib.Version</a> — @attrib.Usage</li>
                }
            </ul>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-auto">
            The underlying server runs in <a href="https://www.microsoft.com/net/learn/get-started/windows">.NET / C# </a> on top of 
            <a href="http://www.mono-project.com/">Mono</a> on a <a href="https://www.debian.org/">Debian</a> OS in a <a href="https://www.digitalocean.com/">DigitalOcean VM</a> .
        </div>
    </div>
</div>