@{
    Layout = "Layouts/RootLayout.cshtml";
    string @url = Request.Url.OriginalString;
}

@section Title {Page not found.}

<div id="body">
    <h2>Page Not Found!</h2>
    <div class="content-wrapper">
        <article>
            The URL that directed you here<sup>+</sup> does not lead to a page that exists on Helium24.Net. Please check your spelling,
            or navigate through the UI to get to the page you are looking for.
            <br />
            <sup>+</sup>:<b>@url</b>
        </article>
        <aside>
            HTTP Status Code: 404 NOT FOUND.
        </aside>
    </div>
</div>

@section Scripts{
}