@{
    Layout = "Layouts/RootLayout.cshtml";
    string pageName = "Helium24";
}

@section Title {@pageName}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>@pageName</h1>
            <p>
                <a href="https://helium24.net">Helium24.net</a> documents projects and demonstration web applications.
            </p>
            <p>
                There's also a secured section, a mail server, and a few other knicknacks running on this site.
                You can't publically access those features, but you can look at the backing source code on <a href="https://github.com/guminer/helium24">GitHub</a>.
            </p>
            <p>
                Several software frameworks were used to build this website.
                Most notably, the underlying server is running the <a href="http://nancyfx.org/">NancyFx</a> C# web framework,
                on top of <a href="http://www.mono-project.com/">Mono</a>, on a <a href="https://www.digitalocean.com/">Digital Ocean VM</a>.
                <br />
                The <a href="~/Attributions">attributions</a> page provides a more comprehensive and detailed view, for the technically interested.
            </p>
        </div>
        <div class="col">
            <div class="row">
                <img src="~/Blobs/todo/LogoCard.png" /> <!--TODO: Make this much, much smaller, remove text from it, update POVRAY rendering. -->
            </div>
            <div class="row align-items-center">
                <div class="col-6">
                    Work and Employment:
                </div>
                <div class="col">
                    <a href="https://www.linkedin.com/in/gustave-granroth-helium24/">LinkedIn</a>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-6">
                    Undergraduate Senior Design Project: 
                </div>
                <div class="col">
                    <a href="~/Blobs/NuclearEngineeringSeniorDesign.pdf">Download</a>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    Flickr: 
                </div>
                <div class="col"><a href="https://www.flickr.com/photos/96321741@N08/">Photostream</a>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    Contact:
                </div>
                <div class="col">
                    <a href="mailto:gus.gran@gmail.com">Webmaster</a>
                </div>
            </div>
        </div>
    </div>
</div>
