@using System;
@using Helium24.Models;
@using System.Collections.Generic;

@{
    Layout = "Layouts/RootLayout.cshtml";
    string pageName = "Projects";
    
    // TOOD: Need a new wrapper data type to store the thumbnail for the project.
    ProjectHeader[] projects = new ProjectHeader[]
    { 
        // TODO: Put all projects here.
        new ProjectHeader("3D Printed Cases -- Intel Galileo Gen 2", "September 2014", new Tag[] { Tag.Hardware, Tag.Printer }),
        new ProjectHeader("3D Printed Cases -- Arduino Nano", "November 2015", new Tag[] { Tag.Hardware, Tag.Printer })
    };
}

@section Title {@pageName}

@section StyleSheets {
    <link rel="stylesheet" href="~/Content/ProjectStyles.css">
}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-auto">
            @foreach (ProjectHeader project in projects)
            {
                <!--<div class="col-auto px-1 py-0">
                    <button class="btn btn-sm disabled" style="background:attag.HtmlColor">attag.Name</button>
                </div>-->

                <div class="card">
                    <img class="card-img-top img-fluid rounded" alt="Image in card" src="Thumbnail Goes Here" />
                    <div class="card-footer">
                        @project.Title
                        <!-- TODO: Deduplicate this logic with the logic in CardHeader.cshtml -->
                        @foreach (Tag tag in project.Tags)
                        {
                            <div class="col-auto px-1 py-0">
                                <button class="btn btn-sm disabled" style="background:@tag.HtmlColor">@tag.Name</button>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="content-wrapper">
        <div class="float-left">
            <h4 class="submenu">Desktop Software</h4>
            <ul class="submenu">
                <li><a href="/Projects/Simulator">Simulator</a></li>
                <li><a href="/Projects/CodeGell">CodeGell</a></li>
                <li><a href="/Projects/FluxSim">FluxSim</a></li>
            </ul>
        </div>

        <div class="float-left">
            <h4 class="submenu">Mobile Software</h4>
            <ul class="submenu">
                <li><a href="/Projects/SpecialistsCalculator">Specialists Calculator</a></li>
                <li><a href="/Projects/AlgorithmAssistant">Algorithm Assistant</a></li>
                <li><a class="disabled" href=".">Analysis Applications<span>In progress.</span></a></li>
            </ul>
        </div>

        <div class="float-left">
            <h4 class="submenu">CNC Mill</h4>
            <ul class="submenu">
                <li><a href="/Projects/ElectronicsAndPcb">Electronics / PCB</a></li>
                <li><a href="/Projects/CncMillSoftware">Pro CNC 3020 Software</a></li>
            </ul>
        </div>

        <div class="float-left">
            <h4 class="submenu">3D Printing</h4>
            <ul class="submenu">
                <li><a href="/Projects/PrintingIntro">Introduction</a></li>
                <li><a href="/Projects/Cases">Cases</a></li>
                <li><a href="/Projects/Experiments">Experiments</a></li>
                
            </ul>
        </div>

        <div class="float-left">
            <h4 class="submenu">Laser Cutting</h4>
            <ul class="submenu">
                <li><a href="/Projects/ChessBoard">Chess Board</a></li>
                <li><a href="/Projects/Models">Models</a></li>
            </ul>
        </div>

        <div class="float-left">
            <h4 class="submenu">Historical</h4>
            <ul class="submenu">
                <li><a href="/Projects/NotableScreenshots">Notable Screenshots</a></li>
                <li>[slow] <a href="http://test-cnp.rhcloud.com/">Node.JS Prior Site</a>
                <li>[slow] <a href="http://g-cnp.rhcloud.com/">Oldest prior site</a></li>
            </ul>
        </div>
    </div>
</div>

<div id="body">
    <h3>@pageName Philosophy</h3>
    <p>
        At any one point in time, I usually have a few software and hardware projects in-progress.
        The links above include a sampling of my mostly-completed projects.
        <br />
        Each project is usually an experiment in one way or another, and not necessarily designed to translate into a useful / monetizable product.
</p>
    <h3>Featured @pageName</h3>
    <div class="content-wrapper">
        <article>
            <img class="imgScaler" src="~/Content/Projects/agow.png" width="700"/>
        </article>
        <minimalAside>
            <h4><a href="https://github.com/GuMiner/agow">AGOW (December 2016)</a></h4>
            This was an attempt at an open-world physics simulation-based game, with a world the size of King County, Washington.
            <br />
            <br />
            Unfortunately the story didn't pan out, physics stopped responding reliably over 10k items, and the overarching design was lacking.
            <br />
            <br />
            On the other hand, I now have a complete heightmap of King County I've used for some 3D printing projects and a much deeper knowledge of graphics and game design.
            <br />
            <br />
        </minimalAside>
    </div>
    <br />
    <div class="content-wrapper">
        <article>
            <img class="imgScaler" src="~/Content/Projects/FinalBoard.png" width="700"/>
        </article>
        <minimalAside>
            <h4><a href="/Projects/ElectronicsAndPcb">Mill Board (February 2015)</a></h4>
            This screenshot displays my PCB design for a six-motor CNC mill, with pads for a 128x64 LCD display, 12-button keypad, and ATMega 328P-PU controller.
            <br />
            <br />
            This was the first PCB I had prototyped, which despite some minor design errors, has worked excellently for its intended purpose.
        </minimalAside>
    </div>
</div>