@{
    String projectName = "3D Printing Experiments";
    Layout = "Layouts/RootLayout.cshtml";
}

@section Title {@projectName}

@section StyleSheets {
    <link rel="stylesheet" href="~/Content/ProjectStyles.css">
    <link rel="stylesheet" href="~/Content/ImageStyles.css">
}

<div id="body">

    <h2>@projectName</h2>
    <p>
        A collection of practical and artistic 3D printing experiments throughout the months.
    </p>
    <div class="content-wrapper">
        <article>
            <img class="imgScaler" src="~/Content/Projects/Experiments/phone_holder_with_phone.jpg" />
        </article>
        <minimalAside>
            <h5>Perpendicular Phone Holders (April 2016)</h5>
            Designed to hold Samsung Galaxy Centura phones perpendicular to the table, these holders
            are both artistic and functional. Key components -- the USB connector and camera --
            are unimpeded by the design of the holder.  
            <br />
            <br />
            Print time of 90 minutes.
        </minimalAside>
    </div>
    <div class="content-wrapper">
        <article>
            <img class="imgScaler" src="~/Content/Projects/Experiments/phone_holder.jpg" />
        </article>
        <minimalAside>
            <h5>Design without the phone.</h5>
            Key features:
            <br /> <br />
            The arcs at the top are shallow enough to print without overhang, and trace around the micro USB power input.
            <br /> <br />
            The cross-bars in the middle hold the halfs together, while also resting the phone at the same height as the base layer.
            <br /> <br />
            All arcs are filled-in on the outside, to more easily print the holder.
        </minimalAside>
        <article>
            <img class="imgScaler" src="~/Content/Projects/Experiments/phone_holder_corner.jpg" />
        </article>
        <minimalAside>
            <h5>Filled in arcs</h5>
        </minimalAside>
    </div>
    <div class="content-wrapper">
        <article>
            <img class="imgScaler" src="~/Content/Projects/Experiments/n64.jpg" />
        </article>
        <minimalAside>
            <h5>Nintendo 64 Logo (February 2016)</h5>
            Available from <a href="http://www.thingiverse.com/thing:14519">Thingiverse</a>, this print was a size and thin-walled part test.
            <br />
            <br />
            Print time of 180 minutes.
        </minimalAside>
    </div>
    <div class="content-wrapper">
        <article>
            <img class="imgScaler" src="~/Content/Projects/Experiments/n64_innards.jpg" />
        </article>
        <minimalAside>
            <h5>Logo Leg</h5>
            This print was performed with 5% infill, and with a very thin wall, leaving an extremely hollow interior.
        </minimalAside>
    </div>
    <div class="content-wrapper">
        <article>
            <img class="imgScaler" src="~/Content/Projects/Experiments/turbine.jpg" />
        </article>
        <minimalAside>
            <h5>GE Turbine model (January 2016)</h5>
            Available from <a href="http://www.thingiverse.com/thing:392115">Thingiverse</a>, this print was a mechanical parts test.
            While this model required a significant amount of time and sanding, the turbine is able to freely spin on the two (clear) 
            bearings attached to the frame.
            <br />
            <br />
            Print time was excessive.
        </minimalAside>
    </div>
    <div class="content-wrapper">
        <article>
            <img class="imgScaler" src="~/Content/Projects/Experiments/turbine_gears2.jpg" />
        </article>
        <minimalAside>
            <h5>Gearing Closeup</h5>
            With the printing tolerances in my inexpensive 3D printer, each gear needed sanding for proper alignment.
        </minimalAside>
    </div>
    <div class="content-wrapper">
        <article>
            <img class="imgScaler" src="~/Content/Projects/Experiments/turbine_gears.jpg" />
        </article>
        <minimalAside>
            <h5>Gearing Closeup</h5>
            With the printing tolerances in my inexpensive 3D printer, each gear needed sanding for proper alignment.
        </minimalAside>
    </div>
    <div class="content-wrapper">
        <article>
            <img class="imgScaler" src="~/Content/Projects/Experiments/turbine_main_gear.jpg" />
        </article>
        <minimalAside>
            <h5>Main Gear Cutaway</h5>
            The slicer software would generate extreme vibration about halfway through the print, as it attempted to trace out thin
            vanes of the main fan. The solution was to send the model into 3D Builder and reduce the model quality until there
            were few enough triangles to avoid the vibration.
        </minimalAside>
    </div>
    <div class="content-wrapper">
        <article>
            <img class="imgScaler" src="~/Content/Projects/Experiments/gear_holder.jpg" />
        </article>
        <minimalAside>
            <h5>Gear Holder (Late 2015)</h5>
            Available from <a href="http://www.thingiverse.com/thing:11071">Thingiverse</a>, this cannot be produced with traditional
            manufacturing techniques. The gears (spares for the printer) cannot physically fit through the holes formed.
            <br />
            <br />
            This print was performed at thie highest resolution my printer can handle, 0.1 mm.
            <br />
            <br />
            Print time of 3 hours.
        </minimalAside>
    </div>
    <div class="content-wrapper">
        <article>
            <img class="imgScaler" src="~/Content/Projects/Experiments/bad_holder_corner.jpg" />
        </article>
        <minimalAside>
            <h5>Bad Corner</h5>
            View of a corner on the lower side of the wireframe solid.
        </minimalAside>
    </div>
    <div class="content-wrapper">
        <article>
            <img class="imgScaler" src="~/Content/Projects/Experiments/good_holder_corner.jpg" />
        </article>
        <minimalAside>
            <h5>Good Corner</h5>
            View of a corner on the upper side of the wireframe solid.
        </minimalAside>
    </div>
</div>