@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>About</h3>
<p>
    You've unfortunately hit an error. Please email me at <a href="mailto:gus.gran@helium24.net">gus.gran@helium24.net</a> with the request ID, if present, and I'll resolve the issue as soon as possible.
</p>
