@page
@model IndexModel
@{
    ViewData["Title"] = "Helium24";
}

<div class="container-fluid">
    <div class="row-auto">
        <div class="col-auto" style="flex: unset;">
            <h1>@ViewData["Title"]</h1>
            <h3>Purpose</h3>
            <p>
                <b>Helium24.net</b> documents projects and demonstrates web-based applications, serving as a public personal display board.
            </p>
            <h3>Site Information</h3>
            <p>
                The source code for this site is hosted on <a href="https://github.com/guminer/helium24">GitHub</a>.
            </p>
            <p>
                The site itself is a C# <a href="https://docs.microsoft.com/en-us/aspnet/core/?view=aspnetcore-2.2">ASP.NET Core</a>
                application on a <a href="https://www.digitalocean.com/">Digital Ocean VM</a>.
            </p>
            <h4><a href="~/Diagnostics">Diagnostics</a></h4>
            <h4><a href="~/Attributions">Attributions</a></h4>
        </div>
    </div>
    <div class="row-auto">
        <h4>About me</h4>
    </div>
    <div class="row-auto">
        <div class="col-7">
            <div class="row py-1">
                <div class="col-6">
                    Interests:
                </div>
                <div class="col">
                    Baking, cycling, cuisine, electronics, investing, hiking, mechanical design, photography, skiing, software development &amp; etc.
                </div>
            </div>
            <div class="row py-1">
                <div class="col-6">
                    Photographs:
                </div>
                <div class="col">
                    <a href="https://stock.adobe.com/contributor/208921667/gustave?load_type=author&prev_url=detail">Photos</a>
                    <br />
                    <a href="https://fineartamerica.com/profiles/gustave-granroth.html">Prints</a>
                </div>
            </div>
            <div class="row py-1">
                <div class="col-6">
                    Work and Employment:
                </div>
                <div class="col-auto">
                    <a href="https://www.linkedin.com/in/gustave-granroth-helium24/">LinkedIn</a>
                </div>
            </div>
            <div class="row py-1">
                <div class="col">
                    College Senior Design Project:
                </div>
                <div class="col">
                    <a href="/Blobs/NuclearEngineeringSeniorDesign.pdf">PDF</a>
                </div>
            </div>
            <div class="row py-1">
                <div class="col-6">
                    Contact:
                </div>
                <div class="col">
                    <a href="mailto:gus.gran@gmail.com">Webmaster</a>
                </div>
            </div>
        </div>
    </div>
</div>
