@page
@model RecentPhotosModel
@{
    ViewData["Title"] = "Recent Photos";
}

<div class="d-flex align-items-center justify-content-center">
    <div class="col-md-8">
        <img loading="lazy" alt="recent" src="~/Blobs/RecentPhotos/20210828_005147208_iOS.jpg" class="img-fluid m-1">
        <img loading="lazy" alt="recent" src="~/Blobs/RecentPhotos/20210828_164242615_iOS.jpg" class="img-fluid m-1">
        <img loading="lazy" alt="recent" src="~/Blobs/RecentPhotos/20210828_190308391_iOS.jpg" class="img-fluid m-1">
        <img loading="lazy" alt="recent" src="~/Blobs/RecentPhotos/20210829_013422731_iOS.jpg" class="img-fluid m-1">
        <img loading="lazy" alt="recent" src="~/Blobs/RecentPhotos/20210829_185132303_iOS.jpg" class="img-fluid m-1">
        <img loading="lazy" alt="recent" src="~/Blobs/RecentPhotos/20210829_193619155_iOS.jpg" class="img-fluid m-1">
        <img loading="lazy" alt="recent" src="~/Blobs/RecentPhotos/20210829_194516653_iOS.jpg" class="img-fluid m-1">
        <img loading="lazy" alt="recent" src="~/Blobs/RecentPhotos/20210829_194522787_iOS.jpg" class="img-fluid m-1">
        <img loading="lazy" alt="recent" src="~/Blobs/RecentPhotos/20210829_195334703_iOS.jpg" class="img-fluid m-1">
        <img loading="lazy" alt="recent" src="~/Blobs/RecentPhotos/20210829_201601738_iOS.jpg" class="img-fluid m-1">
        <img loading="lazy" alt="recent" src="~/Blobs/RecentPhotos/20210829_204632893_iOS.jpg" class="img-fluid m-1">
        <img loading="lazy" alt="recent" src="~/Blobs/RecentPhotos/20210829_204716851_iOS.jpg" class="img-fluid m-1">
        <img loading="lazy" alt="recent" src="~/Blobs/RecentPhotos/20210830_003644997_iOS.jpg" class="img-fluid m-1">
        <img loading="lazy" alt="recent" src="~/Blobs/RecentPhotos/20210830_203106557_iOS.jpg" class="img-fluid m-1">
        <img loading="lazy" alt="recent" src="~/Blobs/RecentPhotos/20210830_205710327_iOS.jpg" class="img-fluid m-1">
        <img loading="lazy" alt="recent" src="~/Blobs/RecentPhotos/20210831_002304086_iOS.jpg" class="img-fluid m-1">
        <img loading="lazy" alt="recent" src="~/Blobs/RecentPhotos/20210831_003641796_iOS.jpg" class="img-fluid m-1">
    </div>
</div>