@page
@using H24.Models;
@model WebAppsModel
@{
    ViewData["Title"] = "Web Apps";
}

<div class="container-fluid">
    <div class="row justify-content-center">
        <p>
            There currently are no web apps here, but don't despair! Enjoy a link instead: <a href="https://www.shadertoy.com/">https://www.shadertoy.com/</a>
        </p>
    </div>
</div>