@page
@model AppsModel
@{
    ViewData["Title"] = "Apps";
}

<div class="text-center">
    <h2>🛠️ Construction Pending ⚠️</h2> 
    <p>
        In the meantime, see the <a href="PuzzleTooling">PuzzleTooling</a> page.
    </p>
</div>