@page
@model AppsModel
@{
    ViewData["Title"] = "Apps";
}

<div class="container-fluid">
    <p>
        <b>Image Generation:</b> Remote frontend for <a href="https://github.com/CompVis/stable-diffusion"> Stable Diffusion</a>.
    </p>
    <div class="row justify-content-center">
        <div class="col-auto">
            <div class="row-auto align-items-center px-1 py-1">
                Access Key 
                <input data-bind="textInput: imageGen.accessKey" style="width: 100px;" />
                <button class="btn btn-primary" data-bind="click: imageGen.LoadJobs.bind(imageGen)">Login & Load Jobs</button>
            </div>
            <div class="row-auto justify-content-center">
                <textarea data-bind="textInput: imageGen.prompt" style="width: 300px; height: 100px;"></textarea>
                <br />
                <button class="btn btn-primary" data-bind="click: imageGen.QueueJob.bind(imageGen)">Generate From Prompt</button>
            </div>
            <div class="row align-items-center">
                <span class="alert alert-success" style="width: 300px;" data-bind="text: imageGen.jobStatus">0</span>
            </div>
            <div class="row align-items-center">
                <span class="alert alert-info" style="width: 300px;" data-bind="text: imageGen.backendStatus">Idle</span>
            </div>
            <div class="row align-items-center">
                <span class="alert alert-warning" style="width: 300px;" data-bind="text: imageGen.pendingJobs">? pending jobs</span>
            </div>
        </div>
        <div class="col-auto">
            <img class="img-fluid img-thumbnail" data-bind="attr: { src: imageGen.image }" />
        </div>
        <div class="col-auto">
            <img class="img-fluid" style="width: 128px; height:128px;" data-bind="attr: { src: imageGen.imageSmallZero }, click: imageGen.ZeroClick.bind(imageGen)" />
            <br />
            <img class="img-fluid" style="width: 128px; height:128px;" data-bind="attr: { src: imageGen.imageSmallOne }, click: imageGen.OneClick.bind(imageGen)" />
            <br />
            <img class="img-fluid" style="width: 128px; height:128px;" data-bind="attr: { src: imageGen.imageSmallTwo }, click: imageGen.TwoClick.bind(imageGen)" />
            <br />
            <img class="img-fluid" style="width: 128px; height:128px;" data-bind="attr: { src: imageGen.imageSmallThree }, click: imageGen.ThreeClick.bind(imageGen)" />
        </div>
        <div class="col-auto">
            <select class="form-select" style="overflow:scroll;" width="50" size="20" data-bind="options: imageGen.jobs, value: imageGen.selectedJob"> </select>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/lib/requirejs-2.3.6.min.js"></script>
    <script type="text/javascript">require(["ts/psr/imagegen", "ts/psr/utility"])</script>
}