@page
@model IndexModel
@{
    ViewData["Title"] = "Helium24.net";
}

<div class="container-fluid">
<div class="row-auto">
    <div class="col-auto" style="flex: unset;">
        <h1>@ViewData["Title"]</h1>
        <h3>Purpose</h3>
        <p>
            <b>Helium24.net</b> is my personal website! You can find project writeups, web-based tooling, and many other interesting things here.
        </p>
        <h3>Site Information</h3>
        <p>
            The source code for this site is hosted on <a href="https://github.com/guminer/helium24">GitHub</a>.
        </p>
        <p>
            The site is a C# <a href="">ASP.NET 6</a>
            application hosted on a Debian <a href="https://www.digitalocean.com/">Digital Ocean VM</a>.
        </p>
        <h4><a href="/SiteInfo/Attributions">Attributions</a></h4>
    </div>
</div>
<div class="row-auto">
    <h4>About me</h4>
</div>
<div class="row-auto">
    <div class="col-7">
        <div class="row py-1">
            <div class="col-6">Interests (alphabetically):</div>
            <div class="col">
                Baking, cycling, cuisine, hiking, photography, skiing, software development, &amp; etc.
            </div>
        </div>
        <div class="row py-1">
            <div class="col-6">
                Work and Employment:
            </div>
            <div class="col-auto">
                <a href="https://www.linkedin.com/in/gustave-granroth-helium24/">LinkedIn</a>
            </div>
        </div>
        <div class="row py-1">
            <div class="col">Software Repository:</div>
            <div class="col">
                <a href="https://github.com/guminer">GitHub</a>
            </div>
        </div>
        <div class="row py-1">
            <div class="col">UW - Madison Senior Design Project (2014):</div>
            <div class="col">
                <a href="/aboutme/NuclearEngineeringSeniorDesign.pdf">PDF</a>
            </div>
        </div>
        <div class="row py-1">
            <div class="col-6">Contact:</div>
            <div class="col"><a href="mailto:gus.gran@gmail.com">Email</a></div>
        </div>
    </div>
</div>
</div>

