@page
@model MediaModel
@{
    ViewData["Title"] = "Media";
}

<p>
    TODO -- Put more images here.
    <!-- <img loading="lazy" alt="recent" src="~/Blobs/RecentPhotos/20210828_005147208_iOS.jpg" class="img-fluid m-1"> -->
</p>

<h3>Stock Photography</h3> 
<div class="col-auto">
    <a href="https://stock.adobe.com/contributor/208921667/gustave?load_type=author&prev_url=detail">Photos</a>
    <br />
    <a href="https://fineartamerica.com/profiles/gustave-granroth.html">Prints</a>
</div>
