@page
@model MediaModel
@{
    ViewData["Title"] = "Media";
}

<div class="text-center">
    TODO
    <div class="col-6">
    Photographs: "TODO lazy loading of images! ()"
            <img loading="lazy" alt="recent" src="~/Blobs/RecentPhotos/20210828_005147208_iOS.jpg" class="img-fluid m-1">

</div>
<div class="col">
    <a href="https://stock.adobe.com/contributor/208921667/gustave?load_type=author&prev_url=detail">Photos</a>
    <br />
    <a href="https://fineartamerica.com/profiles/gustave-granroth.html">Prints</a>
</div>
</div>
