@page
@model ProjectsModel
@{
    ViewData["Title"] = "Projects";
}

<partial name="Projects/Shared/ProjectsHeader.cshtml"/>

<div class="container">
    <div class="row-auto">
        <div class="col-auto">
            <div class="text-center">
                <h3 style="background-color:#ffffff7a">Something goes here</h3>
            </div>
        </div>
    </div>
</div>

@section Scripts {
} 