@using System;
@using System.Collections.Generic;
@using Helium24.Models

@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<IEnumerable<Tag>>
@model System.Collections.Generic.IEnumerable<Helium24.Models.Tag>

@foreach (Tag tag in Model)
{
    <div class="col-auto px-1 py-0">
        <button class="btn btn-sm disabled" style="background:@tag.HtmlColor">@tag.Name</button>
    </div>
}