@page
@using H24.Models;
@model CncMillSoftwareModel

@{
    ViewData["Title"] = @Model.Title;
}

<div class="card">
    <partial name="Common/CardHeader.cshtml" for="@Model" />
    <div class="card-body">
        <h3 class="text-muted">About</h3>
        <partial name="Common/ImageCard.cshtml" ,
                 model='@new Image("/Blobs/Projects/GeigerCounter/geiger_top.jpg", "The Geiger counter, in operation.")' />
        <br />
        <partial name="Common/ParagraphStart.cshtml" />
        It is not that hard to make your own Geiger Counter. Simply:
        <ul>
            <li>Purchase a kit from <a href="https://sites.google.com/site/diygeigercounter/home">DIYGeigerCounter</a></li>
            <li>Purchase a geiger counter tube from <a href="http://www.goldmine-elec-products.com/">Electronic Goldmine</a></li>
            <li>Assemble the electronics</li>
            <li>Put it in a case, such as mine on <a href="https://www.thingiverse.com/thing:191113">Thingiverse</a> or your own</li>
            <li>Test it with a uranium-glazed pottery piece from <a href="https://www.ebay.com/">Ebay</a></li>
        </ul>
        <partial name="Common/ParagraphEnd.cshtml" />
        <partial name="Common/ImageCard.cshtml" ,
            model='@new Image("/Blobs/Projects/GeigerCounter/geiger_side.jpg", "Side view of the geiger-counter, without the lid on.")' />
        <br />
        <partial name="Common/ParagraphStart.cshtml" />
        This case stores 6-AA's, the main electronics, the geiger-counter tube (as a snap-on component),<br />
        and various interactive components, such as the power switch (left side) and brightness control (right side).
        <partial name="Common/ParagraphEnd.cshtml" />
        <br />
        <partial name="Common/ImageCard.cshtml" ,
                 model='@new Image("/Blobs/Projects/GeigerCounter/electronics.jpg", "Geiger counter electronics, without the case.")' />
        <br />
        <h3 class="text-muted">Case Design</h3>
        <partial name="Common/ParagraphStart.cshtml" />
        This was one of the first useful projects I designed and printed with my 3D printer.
        The design was partly restricted, because I had to fit the entire case design within the build plate of the 3D printer I had then.
        <partial name="Common/ParagraphEnd.cshtml" />
        <br />
        <partial name="Common/ImageCard.cshtml" ,
            model='@new Image("/Blobs/Projects/GeigerCounter/wire_base.png", "Geiger Counter base (wireframe)")' />
        <partial name="Common/ImageCard.cshtml" ,
                 model='@new Image("/Blobs/Projects/GeigerCounter/render_base.png", "Geiger Counter base (render)")' />
        <partial name="Common/ImageCard.cshtml" ,
                 model='@new Image("/Blobs/Projects/GeigerCounter/wire_lid.png", "Geiger Counter lid (wireframe)")' />
        <partial name="Common/ImageCard.cshtml" ,
                 model='@new Image("/Blobs/Projects/GeigerCounter/render_lid.png", "Geiger Counter lid (render)")' />
        <partial name="Common/ImageCard.cshtml" ,
                 model='@new Image("/Blobs/Projects/GeigerCounter/wire_tube.png", "Geiger Counter tube holder (wireframe)")' />
        <partial name="Common/ImageCard.cshtml" ,
                 model='@new Image("/Blobs/Projects/GeigerCounter/render_tube.png", "Geiger Counter tube holder (render)")' />
        <br />
        <partial name="Common/ParagraphStart.cshtml" />
        These models were designed using <a href="http://brlcad.org/">BRL-CAD</a>, which gave me a scripting
        interface to create the models along with a graphical output view. With this design:
        <ul>
            <li>The geiger counter base separates the battery storage from the electronics compartment</li>
            <li>The geiger counter lid u-pipe holds the geiger counter tube as a snap-in item</li>
            <li>The geiger counter tube holder has several holes, permitting charged particles to pass through</li>
        </ul>
        <partial name="Common/ParagraphEnd.cshtml" />
        <br />
        <partial name="Common/ParagraphStart.cshtml" />
        There's certainly several enhancements I'd make if I were recreating this design
        or printing this design in bulk, but overall the entire design works as expected.
        <partial name="Common/ParagraphEnd.cshtml" />
    </div>
</div>