@page
@using H24.Models;
@model SkiGpsModel

@{
    ViewData["Title"] = @Model.Title;
}

<div class="card">
    <partial name="Common/CardHeader.cshtml" for="@Model" />
    <div class="card-body">
        <h3 class="text-muted">About</h3>
        <partial name="Common/ParagraphStart.cshtml" />
        This project focused on acquiring and rendering ski run data from downhill ski resorts.
        <partial name="Common/ParagraphEnd.cshtml" />
        <partial name="Common/ImageCard.cshtml" ,
                 model='@new Image("/Blobs/Projects/Design/SkiGps/GoogleEarthTraces.png", "Ski runs overlaid on Google Earth")' />

        <h3 class="text-muted">Process</h3>
        <ol>
            <li>Acquire GPS trace data from ski runs. Several different smartwatches, such as those used for <a href="https://helium24.net/Projects/GitHub/SimpleClarity">SimpleClarity</a>, can be used.</li>
            <li>Export the data in GPX format</li>
            <li>Import the data into <a href="http://www.gpstrackeditor.com/">GPS Track Editor</a></li>
            <li>Delete incorrect traces, such as lift lines, and break apart each run into separate tracks.</li>
            <partial name="Common/ImageCard.cshtml" ,
                     model='@new Image("/Blobs/Projects/Design/SkiGps/GpsTrackEditorTraces.png", "Ski runs in the GPS Track Editor application")' />
            <li>Export the data as GPX format</li>
            <li>Import the data into <a href="https://earth.google.com/">Google Earth</a> and display as desired!</li>
        </ol>
    </div>
</div>