@model Equation

<div class="row justify-content-md-center">
    <div class="col-auto">
        <div class="card rounded">
            <div class="card-body p-0">@Model.EquationText</div>
            <div class="card-footer">
                @Html.Raw(@Model.Title)
            </div>
        </div>
    </div>
</div>