@model Image


<div class="card">
    <img class="card-img-top img-fluid rounded" alt="Image in card" src="@Model?.Uri" />
    <div class="card-footer">
        @Html.Raw(@Model?.Title)
    </div>
</div>