@page
@using H24.Models;
@model H24.Pages.LaserCut.ChessBoardModel

@{
    ViewData["Title"] = @Model.Title;
}

<div class="card">
    <partial name="Common/CardHeader.cshtml" for="@Model" />
    <div class="card-body">
        <partial name="Common/ParagraphStart.cshtml" />
        When you have access to an <a href="https://www.epiloglaser.com/products/legend-laser-series.htm">Epilog Helix</a>
        and a <a href="http://www.ulsinc.com/products/">Universal</a> laser -- and need a chess set -- you improvise.
        <br />
        <partial name="Common/ParagraphEnd.cshtml" />
        <partial name="Common/ImageCard.cshtml" ,
            model='@new Image("/Blobs/Projects/LaserCut/ChessBoard/board.jpg", "Laser-engraved chess board with marbled squares")' />
        <br />
        <partial name="Common/ParagraphStart.cshtml" />
        This chess board was created within 10 minutes using <a href="http://en.wikipedia.org/wiki/Microsoft_Visio">Visio</a>,
        and engraved in 30 minutes on the Universal laser.
        <partial name="Common/ParagraphEnd.cshtml" />
        <partial name="Common/ParagraphStart.cshtml" />
        Normally the translucent (engraved) squares would be completely opaque, but by (accidentally) reducing the
        laser power I instead engraved marbled squares.
        <partial name="Common/ParagraphEnd.cshtml" />
        <partial name="Common/ParagraphStart.cshtml" />
        With 3"-scale chess pieces from the <a href="http://www.unclesgames.com/">local game store</a>, the chess set was made complete.
        <partial name="Common/ParagraphEnd.cshtml" />
        <partial name="Common/ImageCard.cshtml" ,
            model='@new Image("/Blobs/Projects/LaserCut/ChessBoard/boardWithPieces.jpg", "Laser-engraved chess board with pieces")' />
    </div>
</div>