@page
@using H24.Models;
@model H24.Pages.LaserCut.FilamentHolderModel

@{
    ViewData["Title"] = @Model.Title;
}

<div class="card">
    <partial name="Common/CardHeader.cshtml" for="@Model" />
    <div class="card-body">
        <partial name="Common/ParagraphStart.cshtml" />
        I decided to use a laser cutter to generate a filament holder for a 3D printer
        <partial name="Common/ParagraphEnd.cshtml" />
        <partial name="Common/ParagraphStart.cshtml" />
        Unfortunately, due to the positioning of plastic feed input to the 3D printer, friction in the holder,
        and lack of stability in the holder, I was not able to use the 3D printer plastic holder for its intended purpose.
        <partial name="Common/ParagraphEnd.cshtml" />
        <br />
        <partial name="Common/ImageCard.cshtml" ,
            model='@new Image("/Blobs/Projects/LaserCut/FilamentHolder/laser_plans.png", "The plans for the filament holder to be laser-cut, along with other plans.")' />
        <br />
        <partial name="Common/ImageCard.cshtml" ,
            model='@new Image("/Blobs/Projects/LaserCut/FilamentHolder/filamentholder.jpg", "The laser-cut filament holder.")' />
    </div>
</div>