@page
@using H24.Models;
@model H24.Pages.LaserCut.WaveGeneratorModel

@{
    ViewData["Title"] = @Model.Title;
}

<div class="card">
    <partial name="Common/CardHeader.cshtml" for="@Model" />
    <div class="card-body">
        <partial name="Common/ParagraphStart.cshtml" />
        I spent some time in <a href="http://products.office.com/en-us/visio/flowchart-software">Visio</a> to generate a wave generator board from wooden scrap material, so that I could
        experiment with Microsoft Garage's <a href="https://www.epiloglaser.com/products/legend-laser-series.htm">Epilog Helix</a> laser cutter.
        <partial name="Common/ParagraphEnd.cshtml" />
        <br />
        <partial name="Common/ParagraphStart.cshtml" />
        This board was designed to recreate the <a href="http://hyperphysics.phy-astr.gsu.edu/hbase/Waves/standw.html">standing wave</a>
        experiment with a linear actuator being driven with a <a href="http://www.mathworks.com/help/matlab/math/discrete-fourier-transform-dft.html">Fourier Transform</a>-generated waveform.
        <partial name="Common/ParagraphEnd.cshtml" />
        <br />
        <partial name="Common/ImageCard.cshtml" ,
            model='@new Image("/Blobs/Projects/LaserCut/WaveGenerator/waveholder.jpg", "The laser-cut wave generator board. A linear actuator on one end vibrates the string, generating standing waves.")' />
    </div>
</div>