@page
@using H24.Models;
@model H24.Pages.Simulation.FieldSimulatorModel

@{
    ViewData["Title"] = @Model.Title;
}

<div class="card">
    <partial name="../Common/CardHeader.cshtml" for="@Model" />
    <div class="card-body">
        <partial name="../Common/ParagraphStart.cshtml" />
        <b>@Model.Title</b> simulates simple static electric and gravitational fields, graphing the results in 2D and 3D.
        <partial name="../Common/ParagraphEnd.cshtml" />
        <partial name="../Common/ImageCard.cshtml" ,
            model='@new Image("/Blobs/Projects/Simulation/FieldSimulator/fieldSimulator1.png", "Three-particle 2D electric field diagram")' />
        <br />
        <partial name="../Common/ImageCard.cshtml" ,
            model='@new Image("/Blobs/Projects/Simulation/FieldSimulator/fieldSimulator2.png", "Three-particle 3D electric field diagram")' />
        <br />
        <partial name="../Common/ParagraphStart.cshtml" />
        This program was initially written to simplify rote calculations for physics homework.
        <br />
        Visualizations were later added for debugging, validation, and experimentation.
        <partial name="../Common/ParagraphEnd.cshtml" />
        <br />
        <partial name="../Common/ImageCard.cshtml" ,
            model='@new Image("/Blobs/Projects/Simulation/FieldSimulator/fieldSimulator3.png", "Three-particle 2D contour diagram of an electric field")' />
        <br />
        <partial name="../Common/ImageCard.cshtml" ,
            model='@new Image("/Blobs/Projects/Simulation/FieldSimulator/fieldSimulator5.png", "Three-particle 2D electric field diagram using numbers instead of colors")' />
        <br />
        <partial name="../Common/ImageCard.cshtml" ,
            model='@new Image("/Blobs/Projects/Simulation/FieldSimulator/fieldSimulator6.png", "Three-particle 2D electric field diagram using moving points")' />
        <br />
        <partial name="../Common/ImageCard.cshtml" ,
            model='@new Image("/Blobs/Projects/Simulation/FieldSimulator/fieldSimulator7.png", "Three-particle 2D electric field diagram with a consistent gradient")' />
        <br />
        <partial name="../Common/ImageCard.cshtml" ,
            model='@new Image("/Blobs/Projects/Simulation/FieldSimulator/fieldSimulator4.png", "Three-particle 3D electric field diagram using numbers and colors to indicate strength")' />
    </div>
</div>