@page
@using Helium.Pages.Projects.Shared
@model BeamFlowModel

@{
    ViewData["Title"] = @Model.Card.Title;
}

<div class="card">
    <partial name="../Common/CardHeader.cshtml" for="@Model" />
    <div class="card-body">
        <partial name="../Common/ParagraphStart.cshtml" />
        <b>@Model.Card.Title</b> is an educational simulation-based presentation software, which I wrote
        for the UW - Madison NEST competition.
        <partial name="../Common/ParagraphEnd.cshtml" />
        <br />
        <partial name="../Common/ImageCard.cshtml" ,
                 model='@new Image("/img/-projects/Simulation/BeamFlow/Gravity.png", "A simulation of a 3D gravitational field between the sun and the earth (not to scale)")' />
        <br />
        <partial name="../Common/ParagraphStart.cshtml" />
        This program was a larger success than I thought -- I won 1<sup>st</sup> place in the 3<sup>rd</sup> annual
        <a href="https://contest.cs.wisc.edu/past/2011-12-Winners.pdf">competition</a> (alternate <a href="/img/-projects/Simulation/BeamFlow/BeamFlowWinners.pdf">link</a>)
        <partial name="../Common/ParagraphEnd.cshtml" />
        <br />
        <partial name="../Common/ImageCard.cshtml" ,
                 model='@new Image("/img/-projects/Simulation/BeamFlow/Scripting.png", "Scripting a presentation with a mini scripting language defining visualizations")' />
        <br />
        <partial name="../Common/ImageCard.cshtml" ,
                 model='@new Image("/img/-projects/Simulation/BeamFlow/magnet.png", "A simple slide demonstrating how magnets work")' />
        <br />
        <partial name="../Common/ImageCard.cshtml" ,
            model='@new Image("/img/-projects/Simulation/BeamFlow/MagneticWire.png", "A simple slide with moving particles around a bent current-carrying wire")' />
    </div>
</div>