@page
@using Helium.Pages.Projects.Shared
@model BeamFlowModel

@{
    ViewData["Title"] = @Model.Card.Title;
}

<div class="container-fluid">
    <partial name="../Shared/CardHeader.cshtml" for="@Model" />
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-auto">
                <b>@Model.Card.Title</b> is an educational simulation-based presentation software, which I wrote
                for the UW - Madison NEST competition.
                <br />
                <br />
                This program was a larger success than I thought -- I won 1<sup>st</sup> place in the 3<sup>rd</sup> annual
                <a href="https://contest.cs.wisc.edu/past/2011-12-Winners.pdf">competition</a> (alternate <a href="/img/simulation-projects/beam-flow/BeamFlowWinners.pdf">link</a>)
            </div>
            <div class="col-auto">
                <partial name="../Shared/ImageCard.cshtml" ,
                         model='@new Image("/img/simulation-projects/beam-flow/Gravity.png", "A simulation of a 3D gravitational field between the sun and the earth (not to scale)")' />
            </div>
        </div>
        <br />
        <partial name="../Shared/ImageCard.cshtml" ,
                 model='@new Image("/img/simulation-projects/beam-flow/Scripting.png", "Scripting a presentation with a mini scripting language defining visualizations")' />
        <br />

        <div class="row justify-content-center">
            <div class="col-md-6">
                <partial name="../Shared/ImageCard.cshtml" ,
                         model='@new Image("/img/simulation-projects/beam-flow/magnet.png", "A simple slide demonstrating how magnets work")' />
            </div>
            <div class="col-md-6">
                <partial name="../Shared/ImageCard.cshtml" ,
                         model='@new Image("/img/simulation-projects/beam-flow/MagneticWire.png", "A simple slide with moving particles around a bent current-carrying wire")' />
            </div>
        </div>
    </div>
</div>