@page
@using Helium.Pages.Projects.Shared
@model FieldSimulatorModel

@{
    ViewData["Title"] = @Model.Card.Title;
}

<div class="container-fluid">
    <partial name="../Shared/CardHeader.cshtml" for="@Model" />
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <b>@Model.Card.Title</b> simulates simple static electric and gravitational fields, graphing the results in 2D and 3D.
            </div>
            <div class="col-auto">
                <partial name="../Shared/ImageCard.cshtml" ,
                         model='@new Image("/img/simulation-projects/field-sim/fieldSimulator1.png", "Three-particle 2D electric field diagram")' />
                <br />
                <partial name="../Shared/ImageCard.cshtml" ,
                         model='@new Image("/img/simulation-projects/field-sim/fieldSimulator2.png", "Three-particle 3D electric field diagram")' />
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                This program was initially written to simplify rote calculations for physics homework.
                <br />
                <br />
                Visualizations were later added for debugging, validation, and experimentation.
            </div>
            <div class="col-md-4">
                <partial name="../Shared/ImageCard.cshtml" ,
                         model='@new Image("/img/simulation-projects/field-sim/fieldSimulator3.png", "Three-particle 2D contour diagram of an electric field")' />
            </div>
            <div class="col-md-4">
                <partial name="../Shared/ImageCard.cshtml" ,
                         model='@new Image("/img/simulation-projects/field-sim/fieldSimulator5.png", "Three-particle 2D electric field diagram using numbers instead of colors")' />
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <partial name="../Shared/ImageCard.cshtml" ,
                         model='@new Image("/img/simulation-projects/field-sim/fieldSimulator6.png", "Three-particle 2D electric field diagram using moving points")' />
            </div>
            <div class="col-md-4">
                <partial name="../Shared/ImageCard.cshtml" ,
                         model='@new Image("/img/simulation-projects/field-sim/fieldSimulator7.png", "Three-particle 2D electric field diagram with a consistent gradient")' />
            </div>
            <div class="col-md-4">
                <partial name="../Shared/ImageCard.cshtml" ,
                         model='@new Image("/img/simulation-projects/field-sim/fieldSimulator4.png", "Three-particle 3D electric field diagram using numbers and colors to indicate strength")' />
            </div>
        </div>
    </div>
</div>