@page
@using Helium.Pages.Projects.Shared
@model FluxSimModel

@{
    ViewData["Title"] = @Model.Card.Title;
}

<div class="container-fluid">
    <partial name="../Shared/CardHeader.cshtml" for="@Model" />
    <div class="card-body">
        <h3 class="text-muted">About</h3>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <b>@Model.Card.Title</b> is thermal simulation program I wrote to test
                the <a href="http://eigen.tuxfamily.org/index.php?title=Main_Page">Eigen</a> matrix math library and
                the <a href="http://www.sfml-dev.org/">SFML</a> graphics library.
            </div>
            <div class="col-md-6">
                <partial name="../Shared/ImageCard.cshtml" ,
                         model='@new Image("/img/simulation-projects/flux-sim/FluxSim1.png", "Partially-equalized random thermal distribution.")' />
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                The thermal dynamics are performed by iteratively solving a large spare matrix linking each neighboring cell
                (image pixel) to each other cell and locally equalizing the temperatures, simulating heat flow.
                <br />
                <br />
                The physics and mathematical infrastructure for this program were derived from
                <a href="https://books.google.com/books/about/Nuclear_heat_transport.html?id=97UjAAAAMAAJ">Nuclear Heat Transport</a>
                by <span class="text-muted">M. M. El-Wakil</span>
            </div>
            <div class="col-md-6">
                <partial name="../Shared/ImageCard.cshtml" ,
                         model='@new Image("/img/simulation-projects/flux-sim/FluxSim2.png", "Substantially-equalized thermal distribution.")' />
            </div>
        </div>

        <br />
        <h3 class="text-muted">Capabilities</h3>
        <div class="row justify-content-center">
            <div class="col-md-6">
                This application accurately simulates the thermal transport over time within a piece of aluminum, <br /> although other
                materials can be added with material files which specify the material heat capacity at different temperatures.
            </div>
            <div class="col-md-6">
                <partial name="../Shared/ImageCard.cshtml" ,
                         model='@new Image("/img/simulation-projects/flux-sim/FluxSim3.png", "Heat flow from a cold aluminum rectangle to hot walls.")' />
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                Because this application simply simulates a massive 2D grid as a matrix, it was easy to add support for insulated points and fixed-temperature points.
                <br />
                Simulating additional geometry, while certainly possible, has not been experimented with.
            </div>
            <div class="col-md-6">
                <partial name="../Shared/ImageCard.cshtml" ,
                         model='@new Image("/img/simulation-projects/flux-sim/FluxSim4.png", "Fixed-temperature points, evenly distributed throughout the simulation grid.")' />
            </div>
        </div>

        <br />
        <h3 class="text-muted">Software</h3>

        <div class="row justify-content-md-center">
            <div class="col-md-6">
                This program is written in platform-independent C++ code, but you'll have to source the libraries yourself and I have not tested Unix/OS X compilation.
                <br />
                The Windows executable can be downloaded <a href="/img/simulation-projects/flux-sim/FluxSim_WinExecutable.zip">here</a> -- you'll also need the
                Visual Studio 2012 (32-bit) <a href="http://www.microsoft.com/en-us/download/details.aspx?id=30679">C++ redistributable</a>.
                <br />
                The source code and assets can be downloaded <a href="/img/simulation-projects/flux-sim/FluxSim_SourcesAssets.zip">here</a>
            </div>
            <div class="col-auto">
                <div class="card">
                    <video class="card-img-top img-fluid rounded" controls alt="Video in card">
                        <source src="/img/simulation-projects/flux-sim/demo.mp4" type="video/mp4">
                        Your browser does not support the video tag. Sorry.
                    </video>
                    <div class="card-footer">
                        FluxSim in action, simulating heat flow.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>