@page
@using Helium.Pages.Projects.Shared
@model VectorFlowModel

@{
    ViewData["Title"] = @Model.Card.Title;
}

<div class="container-fluid">
    <partial name="../Shared/CardHeader.cshtml" for="@Model" />
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <b>@Model.Card.Title</b> simulates non-interacting particles with particle traces, as a Java load and visualization experiment.
            </div>
            <div class="col-md-4">
                <partial name="../Shared/ImageCard.cshtml" ,
                         model='@new Image("/img/simulation-projects/vector-flow/vectorFlow1.png", "Particle simulation with mirrors, absorbers, counters, and attenuators")' />
            </div>
            <div class="col-md-4">
                <partial name="../Shared/ImageCard.cshtml" ,
                         model='@new Image("/img/simulation-projects/vector-flow/vectorFlow2.png", "Paricle simulation with collisions, non-euclidean space, and different colors")' />
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <partial name="../Shared/ImageCard.cshtml" ,
                         model='@new Image("/img/simulation-projects/vector-flow/vectorFlow3.png", "Particle simulation with non-euclidean space")' />
            </div>
            <div class="col-md-4">
                <partial name="../Shared/ImageCard.cshtml" ,
                         model='@new Image("/img/simulation-projects/vector-flow/vectorFlow4.png", "Particle simulation with collisions and gravity")' />
            </div>
            <div class="col-md-4">
                <partial name="../Shared/ImageCard.cshtml" ,
                         model='@new Image("/img/simulation-projects/vector-flow/vectorFlow5.png", "White 2D box containing particles; <br /> Blue 2D box counting particles going in and out")' />
            </div>
        </div>
    </div>
</div>
