@page
@using Helium.Pages.Projects.Shared
@model SkiGpsModel

@{
    ViewData["Title"] = @Model.Card.Title;
}

<div class="container-fluid">
    <partial name="../Shared/CardHeader.cshtml" for="@Model" />
    <div class="card-body">
        <h3 class="text-muted">About</h3>
        <div class="row justify-content-center">
            <div class="col-md-6">
                This project focused on acquiring and rendering ski run data from downhill ski resorts.
            </div>
            <div class="col-auto">
                <partial name="../Shared/ImageCard.cshtml" ,
                         model='@new Image("/img/iot-projects/ski-gps/GoogleEarthTraces.png", "Ski runs overlaid on Google Earth")' />
            </div>
        </div>
        <br/>
        <h3 class="text-muted">Process</h3>
        <ol>
            <li>Acquire GPS trace data from ski runs. Several different smartwatches, such as those used for <a href="https://helium24.net/Projects/GitHub/SimpleClarity">SimpleClarity</a>, can be used.</li>
            <li>Export the data in GPX format</li>
            <li>Import the data into <a href="http://www.gpstrackeditor.com/">GPS Track Editor</a></li>
            <li>Delete incorrect traces, such as lift lines, and break apart each run into separate tracks.</li>
            <partial name="../Shared/ImageCard.cshtml" ,
                     model='@new Image("/img/iot-projects/ski-gps/GpsTrackEditorTraces.png", "Ski runs in the GPS Track Editor application")' />
            <li>Export the data as GPX format</li>
            <li>Import the data into <a href="https://earth.google.com/">Google Earth</a> and display as desired!</li>
        </ol>
    </div>
</div>