@page
@using Helium.Pages.Projects.Shared
@model DraftingProgramModel

@{
    ViewData["Title"] = @Model.Card.Title;
}

<div class="container-fluid">
    <partial name="../../Shared/CardHeader.cshtml" for="@Model" />
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-md-6">
                This simple application takes the top and front view of drafting lines to construct
                a 3D wireframe view of the lines.
            </div>
            <div class="col-auto">
                <partial name="../../Shared/ImageCard.cshtml" ,
                         model='@new Image("/img/iot-projects/pda/drafting-program/perspectiveDrafting1.png", "An empty drafting pane")' />
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                I wrote this program to simplify drafting homework, to verify proper 3D perspection of 2D lines.
            </div>
            <div class="col-md-4">
                <partial name="../../Shared/ImageCard.cshtml" ,
                         model='@new Image("/img/iot-projects/pda/drafting-program/perspectiveDrafting2.png", "Drawing / adding lines in the drafting program")' />
            </div>
            <div class="col-md-4">
                <partial name="../../Shared/ImageCard.cshtml" ,
                         model='@new Image("/img/iot-projects/pda/drafting-program/perspectiveDrafting3.png", "3D view of a drafted tetrahedron")' />
            </div>
        </div>
    </div>
</div>