@page
@using Helium.Pages.Projects.Shared
@model FractalViewerModel

@{
    ViewData["Title"] = @Model.Card.Title;
}

<div class="container-fluid">
    <partial name="../../Shared/CardHeader.cshtml" for="@Model" />
    <div class="card-body">
        <div class="col-auto">
            I wrote this program to display and manipulate <a href="https://en.wikipedia.org/wiki/Julia_set">Julia</a> fractals, using direct write access to the graphics memory buffer.
            <br />
            This was the last Windows Mobile application I wrote, because I significantly damaged
            the PDA on a trip to <a href="https://www.asme.org/events/competitions/human-powered-vehicle-challenge-(hpvc)">HPVC 2014</a>.
        </div>
        <br />
        <div class="row justify-content-center">
            <div class="col-md-4">
                <partial name="../../Shared/ImageCard.cshtml" ,
                         model='@new Image("/img/iot-projects/pda/fractal-viewer/fractalviewer1.png", "Julia fractal view #1")' />
            </div>
            <div class="col-md-4">
                <partial name="../../Shared/ImageCard.cshtml" ,
                         model='@new Image("/img/iot-projects/pda/fractal-viewer/fractalviewer2.png", "Julia fractal view #2")' />
            </div>
            <div class="col-md-4">
                <partial name="../../Shared/ImageCard.cshtml" ,
                         model='@new Image("/img/iot-projects/pda/fractal-viewer/fractalviewer3.png", "Julia fractal view #3")' />
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <partial name="../../Shared/ImageCard.cshtml" ,
                         model='@new Image("/img/iot-projects/pda/fractal-viewer/fractalviewer4.png", "Julia fractal view #4")' />
            </div>
            <div class="col-md-4">
                <partial name="../../Shared/ImageCard.cshtml" ,
                         model='@new Image("/img/iot-projects/pda/fractal-viewer/fractalviewer5.png", "Julia fractal view #5")' />
            </div>
            <div class="col-md-4">
                <partial name="../../Shared/ImageCard.cshtml" ,
                         model='@new Image("/img/iot-projects/pda/fractal-viewer/fractalviewer6.png", "Julia fractal view #6")' />
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <partial name="../../Shared/ImageCard.cshtml" ,
                         model='@new Image("/img/iot-projects/pda/fractal-viewer/fractalviewer7.png", "Julia fractal view #7")' />
            </div>
            <div class="col-md-4">
                <partial name="../../Shared/ImageCard.cshtml" ,
                         model='@new Image("/img/iot-projects/pda/fractal-viewer/fractalviewer8.png", "Julia fractal view #8")' />
            </div>
            <div class="col-md-4">
                <partial name="../../Shared/ImageCard.cshtml" ,
                         model='@new Image("/img/iot-projects/pda/fractal-viewer/fractalviewer9.png", "Julia fractal view #9")' />
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <partial name="../../Shared/ImageCard.cshtml" ,
                         model='@new Image("/img/iot-projects/pda/fractal-viewer/fractalviewer10.png", "Julia fractal view #10")' />
            </div>
            <div class="col-md-4">
                <partial name="../../Shared/ImageCard.cshtml" ,
                         model='@new Image("/img/iot-projects/pda/fractal-viewer/fractalviewer11.png", "Julia fractal view #11")' />
            </div>
            <div class="col-md-4">
                <partial name="../../Shared/ImageCard.cshtml" ,
                         model='@new Image("/img/iot-projects/pda/fractal-viewer/fractalviewer12.png", "Julia fractal view #12")' />
            </div>
        </div>
    </div>
</div>