@page
@using Helium.Pages.Projects.Shared
@model LissajousCurvesModel

@{
    ViewData["Title"] = @Model.Card.Title;
}

<div class="container-fluid">
    <partial name="../../Shared/CardHeader.cshtml" for="@Model" />
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-md-6">
                This application was a small mobile application to test bitmap fonts and
                draw Lissajous curves on an older Windows Mobile PDA.
                <br />
                <br />
                This application was a partial success -- drawing bitmap fonts is fast on a low-power
                device, but does not look very good.
            </div>
            <div class="col-auto">
                <partial name="../../Shared/ImageCard.cshtml" ,
                         model='@new Image("/img/iot-projects/pda/lissajous-curves/LissajousCurves1.png", "Simple Lissajous curves, with the text overlay")' />
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <partial name="../../Shared/ImageCard.cshtml" ,
                         model='@new Image("/img/iot-projects/pda/lissajous-curves/LissajousCurves2.png", "Simple Lissajous curves, without the text overlay")' />
            </div>
            <div class="col-md-6">
                <partial name="../../Shared/ImageCard.cshtml" ,
                         model='@new Image("/img/iot-projects/pda/lissajous-curves/LissajousCurves3.png", "Bitmap text demonstration, in the about page")' />
            </div>
        </div>

    </div>
</div>
