@page
@using Helium.Pages.Projects.Shared
@model ParticleColliderModel

@{
    ViewData["Title"] = @Model.Card.Title;
}

<div class="container-fluid">
    <partial name="../../Shared/CardHeader.cshtml" for="@Model" />
    <div class="card-body">
        <h3 class="text-muted">About</h3>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <b>@Model.Card.Title</b> was a small mobile application to simulate particle orbits around gravity/electromagnetic sources and sinks.
            </div>
            <div class="col-auto">
                <partial name="../../Shared/ImageCard.cshtml" ,
                         model='@new Image("/img/iot-projects/pda/particle-collider/particleCollider1.png", "Particles without traces")' />
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                You can download this mobile application -- if you have a Windows Phone -- from the
                <a href="http://www.windowsphone.com/en-us/store/app/algorithm-assistant/67ae99ed-c534-4a48-b3ec-6c274b40db9a">Windows Phone store</a>
                <br />
                <br />
                The main focus of this program was to see how effectively the PDA could compute particle orbits while rendering them simultaneously.
            </div>
            <div class="col-auto">  
                <partial name="../../Shared/ImageCard.cshtml" ,
                         model='@new Image("/img/iot-projects/pda/particle-collider/particleCollider2.png", "Particles with traces")' />
            </div>
        </div>
    </div>
</div>