@page
@using Helium.Pages.Projects.Shared
@model ParticleColliderModel

@{
    ViewData["Title"] = @Model.Card.Title;
}

<div class="card">
    <partial name="../Common/CardHeader.cshtml" for="@Model" />
    <div class="card-body">
        <h3 class="text-muted">About</h3>
        <partial name="../Common/ParagraphStart.cshtml" />
        <b>@Model.Card.Title</b> was a small mobile application to describe, demonstrate, and visualize algorithms.
        <partial name="../Common/ParagraphEnd.cshtml" />
        <br />
        <partial name="../Common/ImageCard.cshtml" ,
            model='@new Image("/img/-projects/Mobile/PdaParticleCollider/particleCollider1.png", "Particles without traces")' />
        <br />
        <partial name="../Common/ParagraphStart.cshtml" />
        You can download this mobile application -- if you have a Windows Phone -- from the
        <a href="http://www.windowsphone.com/en-us/store/app/algorithm-assistant/67ae99ed-c534-4a48-b3ec-6c274b40db9a">Windows Phone store</a>
        <partial name="../Common/ParagraphEnd.cshtml" />
        <br />
        <partial name="../Common/ParagraphStart.cshtml" />
        The main focus of the demo program was on searching and sorting algorithms, with a few miscellaneous physics and math-based algorithms added
        for additional visualization.
        <partial name="../Common/ParagraphEnd.cshtml" />
        <br />
        <partial name="../Common/ImageCard.cshtml" ,
            model='@new Image("/img/-projects/Mobile/PdaParticleCollider/particleCollider2.png", "Particles with traces")' />
        <br />
        <h3 class="text-muted">Unique Aspects</h3>
        <partial name="../Common/ParagraphStart.cshtml" />
        This phone application is structured so that once a visualization type is defined, it's very easy to create new algorithms that use the visualization
        type. For example, most of the <b>Sorting</b> visualizations feature a bar-graph sort view. I also tried to polish this to be an 'official' phone application,
        so this application includes support for landscape orientation, includes transition animations, and is partly-localized to additional languages.
        <partial name="../Common/ParagraphEnd.cshtml" />
    </div>
</div>