@{
    String appName = "Laser-cut Models";
    Layout = "Layouts/RootLayout.cshtml";
}

@section Title {@appName}

@section StyleSheets {
    <link rel="stylesheet" href="~/Content/ProjectStyles.css">
}

<div id="body">
    
    <h2>@appName</h2>

    <p>
        My first experiments with the Microsoft Garage's <a href="https://www.epiloglaser.com/products/legend-laser-series.htm">Epilog Helix</a> 
        laser cutter were artistic 3D models, using <a href="http://www.123dapp.com/make">Autodesk 123D Make</a>.
    </p>
    <h3>Design Process</h3>
    <p>
        The Epilog laser cutter will laser cut / raster engrave anything that can be printed to it using a custom printer driver. 
        The general process is to design the laser cut sequence and print to PDF, with thin (sub-pixel) lines for cuts. Anything too large will be raster-engraved.
    </p>
    <p>
        For engineering designs, I start with <a href="http://products.office.com/en-us/visio/flowchart-software">Visio</a> to generate the initial PDF, 
        while for the artistic designs 123D Make generated the initial PDF. Once I had the initial PDF, I would pass it through 
        <a href="https://inkscape.org/en/">Inkscape</a>  to clean up the design, ensure all the lines were thin enough, and compress the pieces to save on 
        plastic used in the laser cutter.
    </p>
    <div class="content-wrapper">
        <article>
            <img class="imgScaler" src="~/Content/Projects/Models/laser_plans.png" />
            <br />
            <img class="imgScaler" src="~/Content/Projects/Models/space_shuttle.jpg" />
            <br />
            <img class="imgScaler" src="~/Content/Projects/Models/plastic_holder1.jpg" />
        </article>
        <projectAside>
            <h4>Example</h4>
            <p>
                First: The laser-cut traceout for the Space Shuttle model, combined with a test design for a 3D printer plastic holder.
            </p>
            <p>
                Second: Space Shuttle model, after cutout and assembly.
            </p>
            <p>
                Third: Testing of the 3D printer plastic holder.
                <br />
                <i>Unfortunately, due to the positioning of the Printerbot plastic feed input, friction in the holder, and lack 
                   of stability in the holder, I was not able to use the 3D printer plastic holder.
                </i>
            </p>
        </projectAside>
    </div>
    <p>
        When in Inkscape, you must also ensure to:
    </p>
    <ul>
        <li>Remove the laser cut border (or it will be laser cut)</li>
        <li>Remove extraneous text (or it will be rastered)</li>
    </ul>
    <p>
        After performing your updates in Inkscape, you can print from there or export from PDF and print that file instead.
    </p>
    <h3>Other models</h3>
    <p>
        For the space shuttle, I imported the <a href="http://nasa3d.arc.nasa.gov/detail/sts">this 3D model</a> from <a href="http://www.nasa.gov/">NASA</a> into 123D Make. 
        While learning how to use the laser cutter, I cut a lot of other models listed below:
    </p>
    <div class="content-wrapper">
        <article>
            <img class="imgScaler" src="~/Content/Projects/Models/green_robot.jpg" width="325" />
            <img class="imgScaler" src="~/Content/Projects/Models/green_rob.jpg" width="325" />
            <br />
            <img class="imgScaler" src="~/Content/Projects/Models/bluerobot_plans.png" width="325"/>
            <img class="imgScaler" src="~/Content/Projects/Models/blue_rob.jpg" width="325" />
        </article>
        <minimalAside>
            <h4>Descent Models</h4>
            <p>
                The first artistic models I laser cut were the <a href="http://www.descent2.com/goodies/3dmodels/thinman/descent1/">Class 1 & Class 2</a> drones from the 
                <a href="http://www.interplay.com/games/descent.php">Descent</a> video game.
            </p>
            <p>
                <b>First Image:</b> Laser cutting the Class 1 Drone.
                <br /><br />
                <b>Second Image:</b> Class 1 Drone.
                <br /><br />
                <b>Third Image:</b> Class 2 Drone, as rendered within Autodesk 123D Make.
                <br /><br />    
                <b>Fourth Image:</b> Class 2 Drone.
            </p>
            <p>
                If you'll want to download these models for yourself, be prepared for some complications! First, you'll need to use the 
                <a href="http://archive.org/web/web.php">Internet Archive Wayback Machine</a> to acquire the files. After that, <a href="http://brlcad.org/%22">BRL-CAD</a>
                is one of the few programs that can convert the unusual 3D model structure into .STL files for import into Autodesk 123D Make.
            </p>
        </minimalAside>
    </div>
    <div class="content-wrapper">
        <article>
            <img class="imgScaler" src="~/Content/Projects/Models/saturn_v.jpg" width="325" />
            <br />
            <img class="imgScaler" src="~/Content/Projects/Models/waveholder.jpg" width="325" />
        </article>
        <projectAside>
            <h4>Shuttle and Board</h4>
            <p>
                The <a href="http://nasa3d.arc.nasa.gov/detail/saturnv-c">Saturn V Model</a> was acquired from the same subsite within NASA.
            </p>
            <p>
                The wave generator board was a model of my own design using some wooden scrap material. This board was designed to recreate the
                <a href="http://hyperphysics.phy-astr.gsu.edu/hbase/Waves/standw.html">standing wave</a> experiment with a linear actuator being 
                driven with a <a href="http://www.mathworks.com/help/matlab/math/discrete-fourier-transform-dft.html">Fourier Transform</a>-generated waveform.
                <br />
                Similar to the 3D printer plastic holder, the wave generator board was designed within Visio before being refined within Inkscape.
            </p>
        </projectAside>
    </div>
</div>