@{
    String appName = "Notable Screenshots";
    Layout = "Layouts/RootLayout.cshtml";
}

@section Title {@appName}

@section StyleSheets {
    <link rel="stylesheet" href="~/Content/ImageStyles.css">
}

<div id="body">
    <div class="block-special">
        <div class="float-left-limited">
            <h2>@appName</h2>
            <p>
                These screenshots are all from experimental or useful programs that I
                initially started late high school / early college. 
            </p>

            <h3>Course Degree Tracker (2010 - 2014)</h3>
            <p>
                Used to track what courses I needed to take in college and the dependencies each took. 
                <br />
                <i>With the help of this application and a heavy course load, I finished in 4 years!</i>
            </p>
            <img class="img820px" src="~/Content/Projects/NotableScreenshots/CourseDegreeTracker1.png" width="600"/>
            <br />
            <img class="img820px" src="~/Content/Projects/NotableScreenshots/CourseDegreeTracker2.png" width="600"/>
            <br />
            <img class="img820px" src="~/Content/Projects/NotableScreenshots/CourseDegreeTracker3.png" width="600"/>
            <br />
            
            <h3>BeamFlow (2011)</h3>
            <p>
                An educational simulation-based presentation software.
                <br /> <i>Won 1st place in the 3rd annual UW - Madison <a href="https://contest.cs.wisc.edu/past/2011-12-Winners.pdf">NEST Competition</a></i>
            </p>
            <img class="img820px" src="~/Content/Projects/NotableScreenshots/image11.png" width="600" />
            <br />
            <img class="img820px" src="~/Content/Projects/NotableScreenshots/image5.png" width="600" />
            <br />
            <img class="img820px" src="~/Content/Projects/NotableScreenshots/image9.png" width="600"/>
            <br />
            <img class="img820px" src="~/Content/Projects/NotableScreenshots/mini_beamflow.png" />

            <h3>iPAQ PDA Fractal Viewer (2011)</h3>
            <p>
                This program was fun to write, because I had direct write access to the memory buffer.
                <br />
                <i>Unfortunately, I lost the PDA on a trip to <a href="https://www.asme.org/events/competitions/human-powered-vehicle-challenge-(hpvc)">HPVC 2014</a>.</i>
            </p>
            <img class="img820px" src="~/Content/Projects/NotableScreenshots/fractalviewer1.bmp" />
            <img class="img820px" src="~/Content/Projects/NotableScreenshots/fractalviewer2.bmp" />
            <br />
            <img class="img820px" src="~/Content/Projects/NotableScreenshots/fractalviewer3.bmp" />
            <img class="img820px" src="~/Content/Projects/NotableScreenshots/fractalviewer4.bmp" />
            <br />
            <img class="img820px" src="~/Content/Projects/NotableScreenshots/fractalviewer5.bmp" />
            <img class="img820px" src="~/Content/Projects/NotableScreenshots/fractalviewer6.bmp" />
            <br />
            <img class="img820px" src="~/Content/Projects/NotableScreenshots/fractalviewer7.bmp" />
            <img class="img820px" src="~/Content/Projects/NotableScreenshots/fractalviewer8.bmp" />
            <br />
            <img class="img820px" src="~/Content/Projects/NotableScreenshots/fractalviewer9.bmp" />
            <img class="img820px" src="~/Content/Projects/NotableScreenshots/fractalviewer10.bmp" />
            <br />
            <img class="img820px" src="~/Content/Projects/NotableScreenshots/fractalviewer11.bmp" />
            <img class="img820px" src="~/Content/Projects/NotableScreenshots/fractalviewer12.bmp" />

            <h3>iPAQ PDA Drafting Program (2011)</h3>
            <p>
                <i>A simple application that took a top and front view of lines to create a 3D wireframe.</i>
            </p>
            <img class="img820px" src="~/Content/Projects/NotableScreenshots/perspectiveDrafting1.png" width="300" />
            <img class="img820px" src="~/Content/Projects/NotableScreenshots/perspectiveDrafting2.png" width="300" />
            <br />
            <img class="img820px" src="~/Content/Projects/NotableScreenshots/perspectiveDrafting3.png" width="300" />

            <h3>iPAQ PDA Lissajous Curves (2010)</h3>
            <p>
                A small program designed to test bitmap fonts and draw Lissajous curves.
            </p>
            <img class="img820px" src="~/Content/Projects/NotableScreenshots/LissajousCurves1.png" width="300" />
            <img class="img820px" src="~/Content/Projects/NotableScreenshots/LissajousCurves2.png" width="300" />
            <br />
            <img class="img820px" src="~/Content/Projects/NotableScreenshots/LissajousCurves3.png" width="300" />
        </div>
        <div class="float-right-limited">
            <h3>Field Simulator (2008 - 2010)</h3>
            <p>
                This was my first simulation program, designed to calculate my physics homework for me.
                <br />
                <i>The visualizations were added later for debugging, validation, and experimentation.</i>
            </p>
            <img class="img820px" src="~/Content/Projects/NotableScreenshots/fieldSimulator1.png" width="600" />
            <br />
            <img class="img820px" src="~/Content/Projects/NotableScreenshots/fieldSimulator2.png" width="600" />
            <br />
            <img class="img820px" src="~/Content/Projects/NotableScreenshots/fieldSimulator3.png" width="600" />
            <br />
            <img class="img820px" src="~/Content/Projects/NotableScreenshots/fieldSimulator4.png" width="600" />
            <br />
            <img class="img820px" src="~/Content/Projects/NotableScreenshots/fieldSimulator5.png" width="600" />
            <br />
            <img class="img820px" src="~/Content/Projects/NotableScreenshots/fieldSimulator6.png" width="600" />
            <br />
            <img class="img820px" src="~/Content/Projects/NotableScreenshots/fieldSimulator7.png" width="600" />
            <br />
            <h3>Vector Flow (2010)</h3>
            <p>
                This simulation program was designed to simulate non-interacting particles and particle traces.
            </p>
            <img class="img820px" src="~/Content/Projects/NotableScreenshots/vectorFlow1.png" width="600" />
            <br />
            <img class="img820px" src="~/Content/Projects/NotableScreenshots/vectorFlow2.png" width="600" />
            <br />
            <img class="img820px" src="~/Content/Projects/NotableScreenshots/vectorFlow3.png" width="600" />
            <br />
            <img class="img820px" src="~/Content/Projects/NotableScreenshots/vectorFlow4.png" width="600" />
            <br />
            <img class="img820px" src="~/Content/Projects/NotableScreenshots/vectorFlow5.png" width="600" />
        </div>
    </div>
</div>