@{
    String appName = "Specialist's Calculator";
    Layout = "Layouts/RootLayout.cshtml";
}

@section Title {@appName}

@section StyleSheets {
    <link rel="stylesheet" href="~/Content/ProjectStyles.css">
}

<div id="body">
    
    <h3>@appName</h3>
    <div class="content-wrapper">
        <article>
            <img class="imgScaler" src="~/Content/Projects/SpecialistsCalculator/sc1.png"" />
        </article>
        <aside>
            Unit computations, with engineering-unit results displayed above the keypad.
        </aside>
    </div>

    <p>
        <b>@appName</b> is a scientific calculator with unit analysis functionalities, designed for users requiring
        unit simplifications with engineering. This application is available for free from the 
        <a href="http://www.windowsphone.com/en-us/store/app/specialist-calculator/82c2fc19-93a6-46fd-9386-1c07bf4790e8">Windows Phone store</a> online.
    </p>
    <p>
        In addition to unit analysis, this application supports trigonometric / inverse trigonometric functions, various base systems, variable
        storage and retrieval, logarithmic functions, and much more.
    </p>
        <div class="content-wrapper">
        <article>
            <img class="imgScaler" src="~/Content/Projects/SpecialistsCalculator/sc2.png" />
        </article>
        <aside>
            Variable storage and retrieval, also with unit computations.
        </aside>
    </div>

    <h4>Unique Aspects</h4>
    <p>
        This is my only phone application incorporating advertisements, and was designed to be more useful (and polished) than 
        <a href="http://www.windowsphone.com/en-us/store/app/numerian/fa9feca9-4c6e-41ab-9d3b-719b310bef18">Numerian</a>
        (my first windows phone application). As such, there's not many other computationally interesting portions in the design.
        <br />
        <br />
        Surprisingly, incorporating advertisements was the easy part -- however, due to the negligible user base, I've only earned 62 cents in the past six months!
    </p>
</div>

@section Scripts{
}