@using System;
@using Helium24.Definitions;

@{
    Layout = "Layouts/SubpageLayout.cshtml";

    // View items and the URLs
    string notepadLoadingStatus = "notepadLoadingStatus";
    string notepadLastEditDate = "notepadLastEditDate";
    string notepadLoadLastIteration = "notepadLoadLastIteration";
    string notepadEditSaveButton = "notepadEditSaveButton";
    string notepadEditSaveStatus = "notepadEditSaveStatus";

    string urlNotes = "/Notes/CurrentNotes";
    string urlLastNotes = "/Notes/LastNotes";
}

@section StyleSheets {
    <link rel="stylesheet" href="~/Content/NotesStyles.css">
}

@section Content{
    <div class="card" style="width: 40rem;">
        <div class="card-header">
            Notes <span class="text-muted" id="@notepadLastEditDate"></span>
        </div>
        <div class="card-body">
            <div class="editorSettings" id="editor">// Enter notes here</div>
        </div>
        <div class="card-footer">
            <div class="row justify-content-between">
                <div class="col-auto">
                    <button id="@notepadEditSaveButton" type="button" class="btn btn-secondary btn-sm">Save</button>
                    <button id="@notepadLoadLastIteration" type="button" class="btn btn-danger btn-sm">Rollback</button>
                </div>
                <div class="col-auto">
                    <span class="alert-warning" role="alert" id="@notepadLoadingStatus"></span>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts{
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/ace.js"></script>

    <!-- Enable the nice, fancy editor. -->
    <script type="text/javascript">

        var editor = ace.edit("editor");
        editor.getSession().setMode("ace/mode/javascript");
        editor.getSession().setUseWorker(false);

        // Save the edits when requested
        $("#@notepadEditSaveButton").click(function () {
            $("#@notepadEditSaveStatus").text("Saving...");

            $.ajax({
                url: '@urlNotes',
                type: 'POST',
                data: editor.getValue(),
                dataType: 'text',
                success: function (data) {
                    $("#@notepadEditSaveStatus").text(data);
                },
                error: function (data) {
                    $("#@notepadEditSaveStatus").text(data.responseText);
                }
            });
        });

        // Load with the last iteration when requested
        $("#@notepadLoadLastIteration").click(function () {
            $("#@notepadLoadingStatus").text("Loading last iteration...");

            $.ajax({
                url: '@urlLastNotes',
                type: 'GET',
                data: editor.getValue(),
                dataType: 'text',
                success: function (data) {
                    editor.setValue(data);
                    $("#@notepadLoadingStatus").text("Last iteration loaded successfully!");
                },
                error: function (data) {
                    $("#@notepadLoadingStatus").text(data.responseText);
                }
            });
        });

        // Runs at startup to load the user's notes.
        function loadUserNotes() {
            $.ajax({
                url: '@urlNotes',
                type: 'GET',
                cache: false,
                success: function (data) {

                    editor.setValue(data.notes);
                    $("#@notepadLastEditDate").text("Last editted on: " + data.lastEditDate);
                    $("#@notepadLoadingStatus").text("Successful notepad loading!");
                },
                error: function (data) {
                    $("#@notepadLoadingStatus").text(data);
                }
            });
        }

        $(document).ready(function () {
            loadUserNotes();
        });
    </script>
}