@page
@using Helium.Pages.Projects.Shared
@model PhoneHolderModel

@{
    ViewData["Title"] = @Model.Card.Title;
}

<div class="container-fluid">
    <partial name="../../Shared/CardHeader.cshtml" for="@Model" />
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <partial name="../../Shared/ImageCard.cshtml" ,
                         model='@new Image("/img/hardware-projects/printing/phone-holder/phone_holder_with_phone.jpg", "The printed phone holder, holding a phone")' />
            </div>
            <div class="col-md-6">
                Designed to hold Samsung Galaxy Centura phones perpendicular to the table, these holders
                are both artistic and functional
                <br />
                Key components -- the USB connector and camera -- are unimpeded by the design of the holder.
                <br />
                <br />
                Print time is 90 minutes.
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <partial name="../../Shared/ImageCard.cshtml" ,
                         model='@new Image("/img/hardware-projects/printing/phone-holder/phone_holder.jpg", "The printed phone holder")' />
            </div>
            <div class="col-md-6">
                Key features:
                <ul>
                    <li>The arcs at the top are shallow enough to print without overhang and trace around the micro USB power input.</li>
                    <li>The cross-bars in the middle hold the halfs together, while also resting the phone at the same height as the base layer.</li>
                    <li>All arcs are filled-in on the outside, to more easily print the holder.</li>
                </ul>
                <br />
                <partial name="../../Shared/ImageCard.cshtml" ,
                         model='@new Image("/img/hardware-projects/printing/phone-holder/phone_holder_corner.jpg", "The filled-in arcs at the base.")' />
            </div>
        </div>

    </div>
</div>